/* Created by: Joanne Santhosh
* Created on: Apr 2022
* This file contains the CSS for index.html
*/

body {
  background-color: #b6d0dd;
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h3 {
  padding: text-align;
  color: #cb6dee;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h4 {
  padding: text-align;
  color: #cb6dee;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

img {
  padding: text-align
}